<head th:fragment="head">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--favicon-->
    <link rel="icon" th:href="@{/assets/images/logo-icon.png}" type="image/png"/>

    <!--plugins-->
    <link th:href="@{/assets/plugins/simplebar/css/simplebar.css}" rel="stylesheet"/>
    <link th:href="@{/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css}" rel="stylesheet"/>
    <link th:href="@{/assets/plugins/metismenu/css/metisMenu.min.css}" rel="stylesheet"/>

    <!-- loader-->
    <link th:href="@{/assets/css/pace.min.css}" rel="stylesheet"/>
    <script th:src="@{/assets/js/pace.min.js}"></script>

    <!-- Bootstrap CSS -->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/bootstrap-extended.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link th:href="@{/assets/css/app.css}" rel="stylesheet">
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet">

    <!-- Theme Style CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/semi-dark.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/header-colors.css}"/>

    <!-- Custom -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css}">

    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css}"/>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js}"></script>

    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js}"></script>
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css}"/>

    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css}">
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js}"></script>

    <title>Collection management</title>
</head>