<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>

<body>
<div class="wrapper">

    <div th:replace="fragments/sidebar :: sidebar"></div>

    <header th:replace="fragments/header :: header"></header>

    <div class="page-wrapper">
        <div class="page-content">

            <a id="btn-export-to-csv" class="btn btn-primary">Export to CSV</a>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 product-grid">
                <div class="col single-collection" th:each="col: ${collections.page}">

                    <div class="card">

                        <!-- Collection Img -->
                        <img th:src="${col.imgUrl}" class="card-img-top" alt="...">

                        <div class="card-body">

                            <!-- Collection Name -->
                            <h6 class="card-title cursor-pointer single-collection-name" th:text="${col.name}"></h6>
                            <div class="clearfix">

                                <!-- Items count -->
                                <p class="mb-0 float-start text-secondary">
                                    <strong th:text="${col.itemsCount}" class=" single-collection-items-count"></strong>
                                    Items
                                </p>

                                <!-- Collection Author -->
                                <p class="mb-0 float-start text-secondary">
                                    <strong th:text="${col.author.firstName + ' ' + col.author.lastName}"
                                            class=" single-collection-author"></strong>
                                    Author
                                </p>

                                <!-- Collection Topic -->
                                <p class="mb-0 float-end fw-bold">
                                    <span class="me-2 text-secondary">Topic: </span>
                                    <span class=" single-collection-topic" th:text="${col.topic.name}"></span>
                                </p>
                            </div>

                            <div class="d-flex align-items-center mt-3 fs-6">
                                <div class="cursor-pointer">
                                    <i class='bx bxs-star text-warning'></i>
                                    <i class='bx bxs-star text-warning'></i>
                                    <i class='bx bxs-star text-warning'></i>
                                    <i class='bx bxs-star text-warning'></i>
                                    <i class='bx bxs-star text-secondary'></i>
                                </div>
                                <a th:href="@{'/api/v1/items/collection/' + ${col.id}}"
                                   class="mb-0 ms-auto btn btn-primary"
                                   th:text="#{menu.view}"></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="list-group list-group-flush">
                                    <a class="list-group-item active d-flex align-items-center"
                                       th:href="@{'/api/v1/collections/edit/' + ${col.id}}"
                                       sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')"
                                    >
                                        <i class="bx bx-cog me-3 font-20"></i>
                                        <span th:text="#{menu.edit}">
										</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="list-group list-group-flush">
                                    <a class="list-group-item active d-flex align-items-center"
                                       sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')"
                                       th:onclick="'deleteCollection(\'' + ${col.id} + '\');'"
                                    >
                                        <i class="bx bx-cog me-3 font-20"></i>
                                        <span th:text="#{menu.delete}">
										</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${collections.page.getTotalPages() > 1}">
                    <li class="page-item" th:classappend="${!collections.paging.isPrevEnabled()? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{'/api/v1/collections?page=' + ${collections.paging.pageNumber - 1}}"
                           tabindex="-1" th:text="#{menu.previous}"></a>
                    </li>
                    <th:block th:each="item : ${collections.paging.getItems()}">
                        <li class="page-item"
                            th:classappend="${item.index == collections.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link" th:href="@{'/api/v1/collections?page=' + ${item.index}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${!collections.paging.isNextEnabled()? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{'/api/v1/collections?page=' + ${collections.paging.pageNumber + 1}}"
                           th:text="#{menu.next}"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

</div>

<!-- Theme Customizer -->
<div th:replace="fragments/theme-customizer :: theme-customizer"></div>

<script th:src="@{/assets/js/custom/exportToCsv.js}"></script>
<script th:src="@{/assets/js/custom/lang.js}"></script>
<script th:src="@{/assets/js/custom/delete-collection.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/plugins/simplebar/js/simplebar.min.js}"></script>
<script th:src="@{/assets/plugins/metismenu/js/metisMenu.min.js}"></script>
<script th:src="@{/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/js/app.js}"></script>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>
