<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
<div class="wrapper">

    <div th:replace="fragments/sidebar :: sidebar"></div>

    <header th:replace="fragments/header :: header"></header>

    <div class="page-wrapper">
        <div class="page-content">

            <h1 th:text="#{menu.latestItems}"></h1>

            <div class="card" th:each="item : ${items}" style="width: 18rem; display: inline-flex">
                <div class="card-body">
                    <div class="card-title" th:text="${item.name}"></div>
                </div>
                <div class="card-body">
                    <div class="card-title" th:text="'Collection: ' + ${item.collection.name}"></div>
                    <div class="card-title" th:text="'Author: ' + ${item.collection.author.firstName} + ' ' + ${item.collection.author.lastName}"></div>
                    <div class="card-title" th:text="'Likes: ' + ${item.likesCount}"></div>
                    <div class="card-title" th:text="'Comments: ' + ${item.commentsCount}"></div>
                </div>
                <a th:href="@{'/api/v1/items/' + ${item.id}}" class="btn btn-primary">Detail</a>
            </div>

            <h1 th:text="#{menu.top5BiggestCollections}"></h1>

            <div class="card" th:each="collection : ${collections}" style="width: 18rem; display: inline-flex">
                <img class="card-img-top" th:src="${collection.imgUrl}" alt="Card image cap">
                <div class="card-body">
                    <div class="card-title" th:text="${collection.name}"></div>
                    <div class="card-text" th:text="${collection.description}"></div>
                </div>
                <div class="card-body">
                    <div class="card-title" th:text="'Author: ' + ${collection.author.firstName} + ' ' + ${collection.author.lastName}"></div>
                    <div class="card-title" th:text="#{menu.items} + ${collection.itemsCount}"></div>
                    <div class="card-title" th:text="'Topic: ' + ${collection.topic.name}"></div>
                </div>
                <a th:href="@{'/api/v1/items/collection/' + ${collection.id}}" class="btn btn-primary">View items</a>
            </div>

            <h1 th:text="#{menu.tagCloud}"></h1>
            <a style="margin-right: 10px;" th:href="@{'/api/v1/items/tag/'+${tag.id}}" class="btn btn-primary btn-lg" th:each="tag: ${tags}" th:text="${tag.name}"></a>
        </div>
    </div>

</div>

<!-- Theme Customizer -->
<div th:replace="fragments/theme-customizer :: theme-customizer"></div>

<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/plugins/simplebar/js/simplebar.min.js}"></script>
<script th:src="@{/assets/plugins/metismenu/js/metisMenu.min.js}"></script>
<script th:src="@{/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/js/app.js}"></script>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>