<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head"></head>

<body>
<!--wrapper-->
<div class="wrapper">

    <div th:replace="fragments/sidebar :: sidebar"></div>

    <header th:replace="fragments/header :: header"></header>

    <div class="page-wrapper">
        <div class="page-content">

            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Items</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Item Details</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4 border-end">

                        <!-- Images -->
                        <img th:src="@{/assets/images/gallery/01.png}" class="img-fluid" alt="...">
                        <div class="row mb-3 row-cols-auto g-2 justify-content-center mt-3">

                            <!-- NOT LIKED -->
                            <div id="like-item">
                                <a>
                                    <span class="iconify"
                                          data-icon="icon-park-outline:like"
                                          data-width="50"
                                          data-height="50"></span>
                                </a>
                            </div>

                            <!-- LIKED -->
                            <div id="dislike-item">
                                <a>
                                    <span class="iconify"
                                          data-icon="flat-color-icons:like"
                                          data-width="50"
                                          data-height="50"></span>
                                </a>
                            </div>

                            <div class="col"><img th:src="@{/assets/images/gallery/01.png}" width="70"
                                                  class="border rounded cursor-pointer" alt=""></div>
                            <div class="col"><img th:src="@{/assets/images/gallery/01.png}" width="70"
                                                  class="border rounded cursor-pointer" alt=""></div>
                            <div class="col"><img th:src="@{/assets/images/gallery/01.png}" width="70"
                                                  class="border rounded cursor-pointer" alt=""></div>
                            <div class="col"><img th:src="@{/assets/images/gallery/01.png}" width="70"
                                                  class="border rounded cursor-pointer" alt=""></div>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title" th:text="${item.name}"></h4>
                            <div class="d-flex gap-3 py-3">
                                <div class="cursor-pointer">
                                    <i class='bx bxs-star text-warning'></i>
                                    <i class='bx bxs-star text-warning'></i>
                                    <i class='bx bxs-star text-warning'></i>
                                    <i class='bx bxs-star text-warning'></i>
                                    <i class='bx bxs-star text-secondary'></i>
                                </div>

                                <div class="text-success" th:text="${#lists.size(item.comments) + ' comments'}">
                                    <i class="text-primary" data-feather="message-square"></i>
                                </div>

                                <div class="text-success" th:text="${#lists.size(item.likes) + ' likes'}">
                                    <i class="text-primary bx bx-like" data-feather="heart"></i>
                                </div>
                            </div>

                            <div class="mb-3">
                                <span class="price h4">$149.00</span>
                                <span class="text-muted">/per kg</span>
                            </div>

                            <p class="card-text fs-6">
                                Virgil Abloh’s Off-White is a streetwear-inspired collection that
                                continues to break away from the conventions of mainstream fashion. Made in Italy, these
                                black and brown Odsy-1000 low-top sneakers.
                            </p>

                            <dl class="row">

                                <div th:each="value: ${item.values}">

                                    <!-- IF TEXT -->
                                    <div th:if="${value.field.fieldType == 'text'}">
                                        <dt class="col-sm-3" th:text="${value.field.name}"></dt>
                                        <dd class="col-sm-9" th:text="${value.targetValue}"></dd>
                                    </div>

                                    <!-- IF TEXTAREA -->
                                    <div th:if="${value.field.fieldType == 'textarea'}">
                                        <dt class="col-sm-3" th:text="${value.field.name}"></dt>
                                        <dd class="col-sm-9" th:text="${value.targetValue}"></dd>
                                    </div>

                                    <!-- IF NUMBER -->
                                    <div th:if="${value.field.fieldType == 'number'}">
                                        <dt class="col-sm-3" th:text="${value.field.name}"></dt>
                                        <dd class="col-sm-9" th:text="${value.targetValue}"></dd>
                                    </div>

                                    <!-- IF DATE -->
                                    <div th:if="${value.field.fieldType == 'date'}">
                                        <dt class="col-sm-3" th:text="${value.field.name}"></dt>
                                        <dd class="col-sm-9" th:text="${value.targetValue}"></dd>
                                    </div>

                                    <div th:if="${value.field.fieldType == 'checkbox'}">
                                        <dt class="col-sm-3" th:text="${value.field.name}"></dt>
                                        <dd class="col-sm-9" th:text="${value.targetValue == 'on' ? 'Yes' : 'No'}"></dd>
                                    </div>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
                <hr/>

                <div class="card-body">
                    <ul class="nav nav-tabs nav-primary mb-0" role="tablist">

                        <!-- Tags -->
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab"
                               href="ecommerce-products-details.html#item-tags" role="tab" aria-selected="false">
                                <div class="d-flex align-items-center">
                                    <div class="tab-icon"><i class='bx bx-bookmark-alt font-18 me-1'></i>
                                    </div>
                                    <div class="tab-title">Tags</div>
                                </div>
                            </a>
                        </li>

                        <!-- Comments -->
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab"
                               href="ecommerce-products-details.html#item-comments" role="tab" aria-selected="false">
                                <div class="d-flex align-items-center">
                                    <div class="tab-icon"><i class='bx bx-star font-18 me-1'></i>
                                    </div>
                                    <div class="tab-title">Comments</div>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content pt-3">

                        <!-- Tags -->
                        <div class="tab-pane fade" id="item-tags" role="tabpanel">
                            <a th:each="tag: ${item.tags}"
                               th:text="${tag.name}"
                               class="chip chip-md"
                               th:href="${'/api/v1/items/tag/' + tag.id}"
                            >
                            </a>
                        </div>

                        <div class="tab-pane fade" id="item-comments" role="tabpanel">

                            <!-- COMMENTS -->
                            <div class="email-sidebar-header d-grid">
                                <a data-toggle="modal"
                                   href="#modal-leave-comment"
                                   class="btn btn-primary"
                                >
                                    <i class='bx bx-plus me-2'></i>
                                    Leave a comment
                                </a>
                            </div>

                            <br/>
                            <h6 class="mb-0 text-uppercase">Comments</h6>
                            <br/>
                            <div class="card radius-10">
                                <div class="card-body">
                                    <ul class="list-unstyled" id="comments">
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- POPUP -->
            <div class="modal" id="modal-leave-comment" tabindex="-1" role="dialog">
                <div class="card">
                    <div class="card-header bg-dark text-white py-2 cursor-pointer">
                        <div class="d-flex align-items-center">
                            <div class="compose-mail-title">New Comment</div>
                            <button type="button"
                                    class="close compose-mail-close ms-auto"
                                    data-dismiss="modal"
                                    aria-label="Close"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="email-form">

                            <div class="mb-3">
                                <label for="new-comment-body">Comment Body</label>
                                <textarea id="new-comment-body"
                                          class="form-control"
                                          placeholder="Comment..."
                                >
                                </textarea>
                            </div>

                            <div class="mb-0">
                                <div class="d-flex align-items-center">
                                    <div class="ms-2">
                                        <button type="button" class="btn border-0 btn-sm btn-white"><i
                                                class="lni lni-text-format"></i>
                                        </button>
                                        <button type="button" class="btn border-0 btn-sm btn-white"><i
                                                class='bx bx-link-alt'></i>
                                        </button>
                                        <button type="button" class="btn border-0 btn-sm btn-white"><i
                                                class="lni lni-emoji-tounge"></i>
                                        </button>
                                        <button type="button" class="btn border-0 btn-sm btn-white"><i
                                                class="lni lni-google-drive"></i>
                                        </button>
                                    </div>
                                    <div class="ms-auto">
                                        <button type="button"
                                                class="btn border-0 btn-sm btn-white"
                                                id="btn-send-comment"
                                        >
                                            <i class='bx bx-send'></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end main card -->
    </div>
</div>
<div th:replace="fragments/theme-customizer :: theme-customizer"></div>

<script th:inline="javascript">
    const comments = [[${item.comments}]];
    const item = [[${item}]];
</script>
<script th:src="@{/assets/js/custom/item.js}"></script>

<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/plugins/simplebar/js/simplebar.min.js}"></script>
<script th:src="@{/assets/plugins/metismenu/js/metisMenu.min.js}"></script>
<script th:src="@{/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/js/app.js}"></script>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>

</html>